<h1 class="header" style="font-family: 'PokemonGB';">Search for Pokemon!</h1> 
<section class="search-bar">
  <br>
  <div class="row">
    <div class="ui search">
        <div class="ui icon input">
            <input class="prompt" type="text" placeholder="Search...">
            <i class="search icon"></i>
        </div>
    <div class="results" id="searchResults">
  </div>
</section>


{{!-- User Top 6 --}}
<section>
  <h1 class="header" style="font-family: 'PokemonGB';">My Top 6</h1>
  <div id="top-6" class="row">
    {{#each pokemonStats}}
    <div class="ui card">
      <div class="header" style="text-transform: capitalize;"> {{@key}} </div>
      <div>
        <img id="card-sprite" src={{this.spriteUrl}}>
      </div>    
      <div class="content">
        <div class="type hash">
          <p style="text-transform: uppercase;">{{this.types}}</p>
        <div class="HP hash" id="stats1"></div>
          <span>HP:{{this.hp}}</span>
        </div>
        <br>
        <div class="attack hash" id="stats2">
          <p>ATTACK</p>
          <span>{{this.attack}}</span>
        </div>
        <div class="defense hash" id="stat3">
          <p>DEFENSE</p>
          <span>{{this.defense}}</span>
        </div>
        <div class="speed hash" id="stat4">
          <p>SPEED</p>
          <span>{{this.speed}}</span>
        </div>
        <div class="special hash" id="stat5">
          <p>SPECIAL ATTACK</p>
          <span>{{this.special-attack}}</span>
        </div>
        <div class="special hash" id="stat6">
          <p>SPECIAL DEFENSE</p>
          <span>{{this.special-defense}}</span>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</section>


{{!-- User collection --}}
<section>
  <h1 class="header" style="font-family: 'PokemonGB';">My Collection</h1>
  <div id="collection" class="row">
    {{#each pokemonStats}}
    <div class="ui card">
      <div class="header" style="text-transform: capitalize;"> {{@key}} </div>
      <div>
        <img id="card-sprite" src={{this.spriteUrl}}>
      </div>    
      <div class="content">
        <div class="type hash">
          <p style="text-transform: uppercase;">{{this.types}}</p>
          <span>HP:{{this.hp}}</span>
        </div>
        <br>
        <div class="attack hash">
          <p>ATTACK</p>
          <span>{{this.attack}}</span>
        </div>
        <div class="defense hash">
          <p>DEFENSE</p>
          <span>{{this.defense}}</span>
        </div>
        <div class="speed hash">
          <p>SPEED</p>
          <span>{{this.speed}}</span>
        </div>
        <div class="special hash">
          <p>SPECIAL ATTACK</p>
          <span>{{this.special-attack}}</span>
        </div>
        <div class="special hash">
          <p>SPECIAL DEFENSE</p>
          <span>{{this.special-defense}}</span>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</section>
  <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.5.0/semantic.min.js" integrity="sha512-Xo0Jh8MsOn72LGV8kU5LsclG7SUzJsWGhXbWcYs2MAmChkQzwiW/yTQwdJ8w6UA9C6EVG18GHb/TrYpYCjyAQw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="js/search.js"></script>






