<h1 class="header" style="font-family: 'PokemonGB';">Search for Pokemon!</h1> 
<section class="search-bar">
  <br>
  <div class="row">
    <div class="ui search">
        <div class="ui icon input">
            <input class="prompt" type="text" placeholder="Search...">
            <i class="search icon"></i>
        </div>
    <div class="results" id="searchResults">
  </div>
</section>


{{!-- User Top 6 --}}
<section>
  <h1 class="header" style="font-family: 'PokemonGB';">My Top 6</h1>
  <div id="top-6" class="row">
    {{#each pokemonStats}}
    <div class="ui card">
      <div class="header" style="text-transform: capitalize;"> {{@key}} </div>
      <div>
        <img id="card-sprite" src={{this.spriteUrl}}>
      </div>    
      <div class="content">
        <div class="type hash">
          <p style="text-transform: uppercase;">{{this.types}}</p>
          <span>HP:{{this.hp}}</span>
        </div>
        <br>
        <div class="attack hash">
          <p>ATTACK</p>
          <span>{{this.attack}}</span>
        </div>
        <div class="defense hash">
          <p>DEFENSE</p>
          <span>{{this.defense}}</span>
        </div>
        <div class="speed hash">
          <p>SPEED</p>
          <span>{{this.speed}}</span>
        </div>
        <div class="special hash">
          <p>SPECIAL ATTACK</p>
          <span>{{this.special-attack}}</span>
        </div>
        <div class="special hash">
          <p>SPECIAL DEFENSE</p>
          <span>{{this.special-defense}}</span>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</section>


{{!-- User collection --}}
<section>
  <h1 class="header" style="font-family: 'PokemonGB';">My Collection</h1>
  <div id="collection" class="row">
    {{#each pokemonStats}}
    <div class="ui card">
      <div class="header" style="text-transform: capitalize;"> {{@key}} </div>
      <div>
        <img id="card-sprite" src={{this.spriteUrl}}>
      </div>    
      <div class="content">
        <div class="type hash">
          <p style="text-transform: uppercase;">{{this.types}}</p>
          <span>HP:{{this.hp}}</span>
        </div>
        <br>
        <div class="attack hash">
          <p>ATTACK</p>
          <span>{{this.attack}}</span>
        </div>
        <div class="defense hash">
          <p>DEFENSE</p>
          <span>{{this.defense}}</span>
        </div>
        <div class="speed hash">
          <p>SPEED</p>
          <span>{{this.speed}}</span>
        </div>
        <div class="special hash">
          <p>SPECIAL ATTACK</p>
          <span>{{this.special-attack}}</span>
        </div>
        <div class="special hash">
          <p>SPECIAL DEFENSE</p>
          <span>{{this.special-defense}}</span>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</section>

<script src="/public/js/search.js"></script>






